<p>
  <strong>Equipment Code: </strong>
  <%= @equipment.code %>
</p>
<p>
  <strong>Type of Equipment: </strong>
  <%= @equipment.name %>
</p>
<p>
  <strong>Quantity: </strong>
  <%= @equipment.quantity %>
</p>
  
  <p><%= link_to 'Edit', edit_equipment_path(@equipment) %></p>
  <%= link_to 'Back', equipments_path %>
